services:
  mysql:
    image: mysql:8.0
    command: --default-authentication-plugin=mysql_native_password
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: go_app
      MYSQL_USER: root
      MYSQL_PASSWORD: password   
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 10s
      timeout: 5s
      retries: 3
    networks:
      - app-network

  api:
    build: .
    container_name: go_clean_architect
    ports:
      - "8080:8080"
    environment:
      - REDIS_HOST=redis
      - REDIS_PORT=6379
      - REDIS_PASSWORD=7lqQVuAw0Ih1AAU1bb6vZw==

    depends_on:
      mysql:
        condition: service_healthy
      redis:
        condition: service_healthy

    volumes:
      - .:/app
    tty: true
    networks:
      - app-network

  redis:
    image: redis:7.4-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    command: >
      redis-server
      --requirepass 7lqQVuAw0Ih1AAU1bb6vZw==
      --save 60 1
      --loglevel warning
      --appendonly yes
    volumes:
      - redis-data:/data
    healthcheck:
      test: ["CMD", "redis-cli", "--no-auth-warning", "-a", "7lqQVuAw0Ih1AAU1bb6vZw==", "ping"]
      interval: 5s
      timeout: 3s
      retries: 10
    networks:
      - app-network

volumes:
  mysql_data:
  redis-data:

networks:
  app-network:                     
    driver: bridge